:root {
  --bc-payment-width: 70vw;
}

.bc-webinar {
  padding-top: 150px;
}

.bc-webinar-header {
  max-width: var(--bc-payment-width);
  margin: 0 auto 2vw auto;
}

#bc-player {
  width: var(--bc-payment-width);
  height: calc(var(--bc-payment-width) * 0.56);
  display: block;
  margin: 0 auto;
}

.uc-webinar-trigger {
  pointer-events: none;
  visibility: hidden;
}

.uc-webinar-trigger.bc-active {
  pointer-events: inherit !important;
  visibility: visible !important;
  padding: 50px 0 70px 0;
}

@media (max-width: 768px) {
  :root {
    --bc-payment-width: 92vw;
  }
  .bc-webinar {
    padding-top: 20px;
  }
}
