:root {
  --bc-video-width: 70vw;
}

.bc-webinar {
  padding-top: 150px;
}

.bc-webinar-header {
  max-width: var(--bc-video-width);
  margin: 0 auto 2vw auto;
}

#bc-player {
  width: var(--bc-video-width);
  height: calc(var(--bc-video-width) * 0.56);
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  :root {
    --bc-video-width: 92vw;
  }
  .bc-webinar {
    padding-top: 20px;
  }
}
